	body {
		background-color: #ceb3ff;
	}

	.chefe {
		background-color: #a0c9ff;

	}

	.jabuti {
		background-color: rgb(197, 159, 120);
	}

	.gazela {
		background-color: beige;
	}

	.galo {
		background-color: #fdc48e;
	}

	.corvo {
		background-color: #fff173;
	}



	/* TEXTOS */

	h1 {
		text-align: center;
		font-size: 25px;
		color: rgb(0, 0, 0);

	}

	h2{
		text-align: center;
		color: rgb(56, 0, 0);
		font-size: 23px;
	}

	p {
		line-height: normal;
		margin: 20px;
		text-align: center;
		font-size: 20px;
	}



	/* BUTTON */

	.botaoinicial {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: rgb(230, 230, 250);
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
	}

	a:hover {
		color: rgb(230, 230, 250);
		text-decoration: none;
		/* Remove o sublinhado */
	}

	a {
		text-decoration: none;
		color: rgb(0, 0, 0);
		/* Cor padrão dos links */
	}

	a:active {
		color: rgb(0, 0, 0);
	}



	/* FECHA BUTTON */

	img {
		width: 600px;
		height: 600px;
		border-radius: 50px;
		object-fit: cover;
		align-items: center;
    	margin: 0 40em;
	}

    /* H1 DA INDEX */
	.p1 {
		font-size: 44px;
		color: hsl(261, 100%, 50%);
		text-decoration: underline;
	}

	/* MORAL DAS HISTÓRIAS */
	.moral {
		font-weight: bold;
		text-decoration: underline;
	}

	/* BOTÃO FIM DA PÁGINA*/
	.botaofim1 {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: #a0c9ff;
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
	}

	.botaofim2 {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: #fff173;
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
	}


	.botaofim3 {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: #fdc48e;
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
		
	}

	.botaofim4 {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: beige;
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
	}

	.botaofim5 {
		display: block;
		margin: 10px auto;
		font-size: 20px;
		background-color: rgb(197, 159, 120);
		text-align: center;
		width: 200px;
		height: 100px;
		border-radius: 30px;
	}


